html {
  font-family: "Urbanist";
  margin: 0;
  background-color: #f9e3b7;
}

hr {
  width: 20%;
  height: 2px;
  background-color: #e66136;
  border: none;
  width: 25%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
}

body {
  color: rgb(0, 0, 0);

}

#parcours {
  display: flex;
  justify-content: center;
}

.card-container-parcours {
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(3, 1fr);
  /* 4 cartes par ligne */
  gap: 50px;
  padding: 0 50px;
}


.card-container-veille {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 0 50px;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;
}

.card-container-veille img {
  width: 100%;
  height: 100%;
}

#select {
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #e66136;
  border-radius: 8px;
  margin-left: 40%;
  margin-top: 5%;
  background-color: #e66136;
  color: white;
}

#intérêt {
  display: flex;
  justify-content: center;
}

#presentation_orpea p {

  max-width: 40%;
  font-size: 20px;


}

#presentation_orpea {
  margin-top: 20%;
  display: flex;
  margin-left: 0%;
  justify-content: space-around;

  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;
  z-index: 1;
  top: 0;

}

#presentation_ilian p {
  max-width: 50%;
  font-size: 20px;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;
  top: 0;


}

#presentation_ilian {
  display: flex;
  margin-left: 0%;
  margin-bottom: 10%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#presentation_ilian img {
  width: 30%;
  height: 30%;
  margin-bottom: 5%;

}

#hr-entreprise {
  max-width: 20%;
  font-size: 20px;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;

  top: 0;
}



#organigramme {
  max-width: 100px;
  max-height: 100px;
}


#orpea {
  width: 20%;
}

#pdg_orpea {
  display: flex;
  width: 20%;
  height: 20%;

}

#top_section {
  background-color: #f9e3b7;
  margin-bottom: 25px;
}

#veille-body {
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;
}

#veille-titre {
  display: flex;
  justify-content: center;
  margin-top: 15%;

  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;
}

#veille {
  margin-top: 5%;
  display: flex;
  font-size: 20px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;
}

#bilan {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
}

.h1-margin {
  margin-top: 10%;
}

.h2-margin {
  margin-top: 5%;
}


.navbar {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #f9e3b7;

}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}



.navbar_a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 25px;
  padding-top: 10px;
}

.navbar_items_right {
  padding-left: 3em;
}

.navbar_profil {
  font-size: 30px;
  padding-top: 0px;
  margin-left: 15%;
  margin-right: 7%;
}

#my_name {
  font-size: 4em;
  width: 70%;
  margin-bottom: 35%;
}

.presentation {
  display: inline-block;
  position: static;
  margin-left: 20%;
  margin-top: 10em;
  width: 30%;
  margin-right: 0%;
  opacity: 0;
  transform: translateX(-200px);
  animation: apparition 0.5s 0.5s ease-out forwards;
}

#profile_picture_presentation {

  width: 20%;
  display: inline-block;
  border-radius: 20px;
  margin-left: 12%;
  margin-top: 5%;
  opacity: 0;
  transform: translateX(200px);
  animation: apparition 0.5s 1s ease-out forwards;

}

#presentation_p {
  display: flex;
  width: 100%;
  color: black;
  line-height: 1.5em;

}

#project_section_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;

}

#projects {
  margin-left: 5%;
  margin-right: 5%;

}

#project_boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#real_span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 10px;
  font-size: 35px;
}



.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
  padding: 150px 50px;

  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;
  top: 0;
}

.card-container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
  padding: 100px 50px;

  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;
  top: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 5px;
  background-color: #fff8ea;
  margin-top: 10%;
  margin-bottom: 15%;
  height: fit-content;
}

.card h4 {
  padding-bottom: 10px;
}

.display-hidden {
  display: none;
}

.display1 {
  display: none;
}

.display2 {
  display: none;
}

.display3 {
  display: none;
}

.display4 {
  display: none;
}


.highlighted {
  height: fit-content;
  width: 100%;
}

.card:hover {
  transform: scale(1.1);
  /* Agrandissement de la carte au survol */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  /* Augmentation de l'ombre au survol */
}

.card img {
  width: 100%;
  height: 300px;
}

img {
  border-radius: 5px 5px 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 10px 0 10px;
}


#top-section {
  margin-top: 500px;
}

.modal {
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  max-width: 50%;
  text-align: center;
}

.margin-modal {
  margin-bottom: 10px;
}

.title-modal {
  font-weight: bold;
}

/* Style pour fermer la fenêtre modale */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  background-color: #e66136;
  padding: 10px 0;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.5s 0s ease-out forwards;
  z-index: 1;
  top: 0;
}

.footer-col h4 {
  display: none;
}

.footer-col a {
  text-decoration: none;
  color: white;
}

.footer-col {
  margin-left: 10%;
  display: ruby;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fffdf9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}


@media screen and (max-width: 767px) {

  /* Responsive styles for screens smaller than 768px */
  body {
    font-size: 14px;
  }

  .card-container-parcours,
  .card-container-veille,
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 30px;
    max-width: 80%;

  }

  #select {
    margin-left: 10%;
    margin-top: 3%;
  }

  #presentation_orpea p,
  #presentation_ilian p,
  #hr-entreprise {
    max-width: 100%;
  }

  #presentation_ilian img {
    width: 50%;
    height: 50%;
  }

  .navbar {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .navbar_items_right {
    padding-left: 1em;
  }

  .presentation {
    width: 100%;
    margin-left: 0;
    margin-top: 5em;
  }

  #profile_picture_presentation {
    width: 30%;
    margin-left: 0;
    margin-top: 2%;
  }

  #project_boxes {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .card img {
    height: 200px;
  }

  #top-section {
    margin-top: 300px;
  }

  .modal-content {
    max-width: 80%;
  }

  .footer-col {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 574px) {

  /* Responsive styles for screens smaller than 575px */
  .card-container-parcours,
  .card-container-veille,
  .card-container,
  .card-container2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0 20px;
  }

  #select {
    margin-left: 5%;
    margin-top: 2%;
  }

  #presentation_ilian img {
    width: 70%;
    height: 70%;
  }

  .presentation {
    width: 100%;
    margin-left: 0;
    margin-top: 3em;
  }

  #profile_picture_presentation {
    width: 40%;
    margin-left: 5vh;
    margin-top: 2%;
  }

  #project_boxes {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .card img {
    height: 150px;
  }

  #top-section {
    margin-top: 200px;
  }

  .modal-content {
    max-width: 90%;
  }

  .footer-col {
    margin-left: 0;
    margin-bottom: 10px;
  }

  /* Hamburger menu button */

  #hamburger-menu {
    display: none;
  }


  #hamburger-menu-label {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../image/3barres.png') no-repeat;
    background-size: cover;
    color: #fff;
  }


  /* Navbar */
  .navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    color: #fff;
    z-index: 999;
    overflow-y: auto;
    padding: 20px;
  }

  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar li {
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
  }

  .navbar_items_right {
    padding-left: 0em;
  }

  .navbar_profil {
    font-size: 40px;
    padding-top: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5vh;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    display: block;
  }

  /* Show navbar on hamburger menu click */
  #hamburger-menu:checked~.navbar {
    display: block;
  }

  .display {
    display: block !important;
  }
}