html {

  margin: 0;
  background-color: #fff8ea;
}

hr {
  width: 20%;
  height: 2px;
  background-color: #e66136;
  border: none;
  width: 25%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
}

body {
  font-family: "Urbanist";
  color: rgb(0, 0, 0);
}
#parcours {
  display: flex;
  justify-content: center;
}
.card-container-parcours {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 4 cartes par ligne */
  gap: 50px;
  padding: 0 50px;
}

#intérêt{
  display: flex;
  justify-content: center;
}

#presentation_orpea p {

  max-width: 40%;
  font-size: 20px;

}

#presentation_orpea {
  margin-top: 10%;
  display: flex;
  margin-left: 0%;
  justify-content: space-around;
}

#presentation_ilian p {

  max-width: 40%;
  font-size: 20px;

}

#presentation_ilian {
  display: flex;
  margin-left: 0%;
  justify-content: space-around;
}

#organigramme {
  max-width: 300px;
  max-height: 300px;
}


#orpea {
  width: 20%;
}

#pdg_orpea {
  display: flex;
  width: 20%;
  height: 20%;

}

#top_section {
  background-color: #fff8ea;
  margin-bottom: 25px;



}

#navbar {
  display: flex;
  justify-content: left;
  text-decoration: none;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: "Urbanist";
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 1s 0s ease-out forwards;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #fff8ea;

}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}



.navbar_a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 25px;
  padding-top: 10px;
}

.navbar_items_right {
  padding-left: 3em;
}

.navbar_home {
  color: #e66136;
}

.navbar_profil {
  font-size: 30px;
  padding-top: 0px;
  margin-left: 20%;
  margin-right: 10%;
}

#my_name {
  font-size: 4em;
  width: 70%;
  margin-bottom: 35%;
}

.presentation {
  display: inline-block;
  position: static;
  margin-left: 20%;
  margin-top: 10em;
  width: 30%;
  margin-right: 0%;
  opacity: 0;
  transform: translateX(-200px);
  animation: apparition 1s 0.5s ease-out forwards;
}

#profile_picture_presentation {

  width: 20%;
  display: inline-block;
  border-radius: 20px;
  margin-left: 12%;
  margin-top: 5%;
  opacity: 0;
  transform: translateX(200px);
  animation: apparition 1s 0.5s ease-out forwards;

}

#presentation_p {
  display: flex;
  width: 100%;
  color: black;
  line-height: 1.5em;

}

#project_section_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;

}

#projects {
  margin-left: 5%;
  margin-right: 5%;

}

#project_boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 cartes par ligne */
  gap: 20px;
  padding: 0 50px;

  /* Espace entre les cartes */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  /* Ajoutez une transition pour une animation fluide */
  border-radius: 5px;
  background-color: #fff8ea;
  margin-top: 35%;
  margin-bottom: 15%;

}

.card:hover {
  transform: scale(1.1);
  /* Agrandissement de la carte au survol */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  /* Augmentation de l'ombre au survol */
}

.card img {
  max-width: 100%;
  height: auto;
}

img {
  border-radius: 5px 5px 0 0;
}

/* 
Charte graphique :


Beige : #fffdf9

Orange : #e66136

*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #e66136;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fffdf9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}